.wrapper {
  background: #FFF;
  margin-top:30px;
  .wrapper__search {
    padding:30px;
  }
  .wrapper__search--input {
    outline:none;
    border-radius: 0;
    border:none;
    box-shadow: none;
    border-bottom:2px solid #a7e232;
    &:focus {
      box-shadow: none;
    }
  }
  .wrapper__search--showButton {
    outline:none;
    border-radius: 0;
    border:1px solid #a7e232;
    background: #a7e232;
    color:#FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;
    &:hover {
      border:1px solid #03d189;
      background: #03d189;
    }
    &:active {
      color:#FFF;
      outline: none;
    }
  }
  .wrapper__search--resetButton {
    outline:none;
    border-radius: 0;
    border:1px solid #e52b2b;
    background: #e52b2b;
    color:#FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;
    &:hover {
      border:1px solid #ff0000;
      background: #ff0000;
    }
    &:active {
      color:#FFF;
      outline: none;
    }
  }

  .wrapper__showItems {
    padding:30px;
    .wrapper__showItems--input {
      margin:0 0 20px 0;
      outline:none;
      border-radius:0;
      border:none;
      border-bottom:2px solid #1B9AF7;
      &:focus {
        box-shadow: none;
      }
    }
    .wrapper__showItems--caption {
      text-transform: uppercase;
      font-weight:700;
    }
    .wrapper__showItems--errormsg {
      color:red;
      font-weight: 700;
    }
  }
}
